* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo da página principal*/

.logo-mario {
    height: 150px;
}

p {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;

}

.imagem-mario-luigi {
    height: 400px;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-around;

}

.caixa-principal {
    width: 40%;
    color: white;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px;


}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

button:hover {
    font-size: 15px;
    background-color: #18d80f;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -350px;
    top: 30%;
    padding: 50px;
    border-radius: 5px;
    gap: 20px;
    transition: left 1s ease-in-out;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;

}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

/*Estilo da página de serviços*/
.intro h2 {
    margin-bottom: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #c51111;
}

.imagem-luigi {
    height: 400px;
}



@media(max-width: 1100px) {
    .logo-mario {
        height: 100px;
    }

    p {
        font-size: 14px;
        display: flex;
        text-align: center;
        width: 300px;
        margin-top: 10px;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;

    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 200px;
        margin: 0;
    }

    .imagem-mario-luigi {
        width: 40vw;
        height: auto;
    }

    .imagem-luigi {
        width: 30vw;
        height: auto;
        margin-top: 10px;
    }


    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header img {
        display: none;

    }

    .header a {
        font-size: 18px;

    }

    .header a:hover {
        color: #c51111;
        font-size: 22px;
        transition: 0.5s ease-in-out;
    }


    button {
        margin-top: 10px;
        width: 150px;
        height: 50px;
        font-size: 10px;
    }

    button:hover {
        font-size: 12px;
        background-color: #18d80f;
        transition: 0.5s ease-in-out;


    }